.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/upload-keystore.jks
*.iml
.idea/
.DS_Store
